
  
  
  <div role="main" class="container-fluid mt-4">
    <div  class="head mb-5 ">
        <div class="title ">
          </div>
        
      </div>
      <div class="d-flex justify-content-between mb-3">
        <div></div>
        <button class="btn btn-secondary" (click)="goBack()">Retourner à l'affaire </button>
      </div>
    
      <div  class="crud-offer">
        <div class="projects mb-4">
          <div class="projects-inner">
            <header class="projects-header">
              <div>
                <div class="title">Gestion des AUDIENCES</div>
                <div class="count">| Audiences</div>
                <i class="zmdi zmdi-download"></i>
              </div>
              <div style="cursor: pointer;" (click)="openModal(addAudianceModal)"   >
                <i class="bi bi-plus-circle"></i> Ajouter une nouvelle audiance
              </div>
            </header>
  
            <table class="projects-table">
              <thead>
                <tr>
                  <th>Numéro</th>
                   <th>Date</th>
                   <th>Description </th>
                     <th>Tribunal</th>
                     <th>Type</th>

                   <th>Fichier</th>

                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
          
                <tr *ngFor="let item of audiances">
                  <td>{{ item.numero   }}</td>
                     <td>{{ item.dateAudiance | date }}</td>
                    <td>{{ item.description }}</td>
                     <td>{{ item.tribunal.nom  }}  </td>
                     <td>{{item?.type}}</td>

                    <td><i class="fas fa-file pe-auto" (click)="openFiles(item.files)" ></i></td>

                    <td class="btns">
                      <button class="btn btn-sm btn-action" (click)="openModal(editAudianceModal,item )" >Modifier</button>
                      <button *ngIf="item._id" class="btn btn-sm btn-danger" (click)="deleteAudiance(item._id)">Supprimer</button>
                    </td>
                  </tr>
              </tbody>
            </table>
  
            <nav aria-label="Page navigation" class="mt-4">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <span class="page-link">Previous</span>
                </li>
                <li class="page-item active" aria-current="page">
                  <span class="page-link">1</span>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
  
      </div>
      <ng-template #addAudianceModal let-modal>
        <div class="modal-header">
          <h5 class="modal-title">Ajouter une nouvelle audience</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="audianceForm">
            <div class="form-group">
              <label for="date">Date</label>
              <input type="date" id="date" class="form-control" formControlName="date" />
              <div *ngIf="audianceForm.get('date')?.invalid && audianceForm.get('date')?.touched" class="text-danger">
                Date is required
              </div>
            </div>
            <div class="form-group">
              <label for="numero">Numero</label>
              <input type="number" id="numero" class="form-control" formControlName="numero" />
              <div *ngIf="audianceForm.get('numero')?.invalid && audianceForm.get('numero')?.touched" class="text-danger">
                Description is required
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="textarea" id="description" class="form-control" formControlName="description" />
              <div *ngIf="audianceForm.get('description')?.invalid && audianceForm.get('description')?.touched" class="text-danger">
                Description is required
              </div>
            </div>
              
            <div class="form-group">
              <label for="type">Type</label>
              <select id="type" class="form-control" formControlName="type">
                <option *ngFor="let t of typeAudiance" [value]="t.label">{{ t.label }}</option>
              </select>
              <div *ngIf="audianceForm.get('type')?.invalid && audianceForm.get('type')?.touched" class="text-danger">
                type is required
              </div>
            </div>
  
   
           
            <div class="form-group">
              <label for="cercles">Tribunal</label>
              <select id="cercles" class="form-control" formControlName="tribunal">
                <option *ngFor="let trib of tribunals" [value]="trib._id">{{ trib.nom }}</option>
              </select>
              <div *ngIf="audianceForm.get('tribunal')?.invalid && audianceForm.get('tribunal')?.touched" class="text-danger">
                Cercle is required
              </div>
            </div>
            
            <div class="form-group">
              <label for="files">Upload Files:</label>
              <input class="form-control" id="files" type="file" (change)="onFilesSelected($event)" multiple />
            </div>
          </form>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="modal.close()">Ajouter</button>
        </div>
      </ng-template>
    
      <ng-template #editAudianceModal let-modal>
        <div class="modal-header">
          <h5 class="modal-title">Modifier l'audience</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="audianceForm" (ngSubmit)="editAudiance(modal)">
            <div class="form-group">
              <label for="date">Date</label>
              <input
                type="date"
                id="date"
                class="form-control"
                formControlName="date"
                required
              />
              <div *ngIf="audianceForm.get('date')?.invalid && audianceForm.get('date')?.touched" class="text-danger">
                La date est requise.
              </div>
            </div>
      
            <div class="form-group">
              <label for="numero">Numéro</label>
              <input
                type="text"
                id="numero"
                class="form-control"
                formControlName="numero"
                required
              />
              <div *ngIf="audianceForm.get('numero')?.invalid && audianceForm.get('numero')?.touched" class="text-danger">
                Le numéro est requis.
              </div>
            </div>
      
            <div class="form-group">
              <label for="description">Description</label>
              <input
                type="text"
                id="description"
                class="form-control"
                formControlName="description"
                required
              />
              <div *ngIf="audianceForm.get('description')?.invalid && audianceForm.get('description')?.touched" class="text-danger">
                La description est requise.
              </div>
            </div>
      
            <div class="form-group">
              <label for="cercles">Tribunal</label>
              <select id="cercles" class="form-control" formControlName="tribunal">
                <option *ngFor="let trib of tribunals" [value]="trib._id">{{ trib.nom }}</option>
              </select>
              <div *ngIf="audianceForm.get('tribunal')?.invalid && audianceForm.get('tribunal')?.touched" class="text-danger">
                Cercle is required
              </div>
            </div>
      
            <div class="form-group">
              <label for="type">Type</label>
              <select id="type" class="form-control" formControlName="type">
                <option *ngFor="let t of typeAudiance" [value]="t.label">{{ t.label }}</option>
              </select>
              <div *ngIf="audianceForm.get('type')?.invalid && audianceForm.get('type')?.touched" class="text-danger">
                type is required
              </div>
            </div>
            <div class="form-group">
              <label for="files">Upload Files:</label>
              <input class="form-control" id="files" type="file" (change)="onFilesSelected($event)" multiple />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')">Annuler</button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="audianceForm.invalid"
            (click)="editAudiance( modal)"
          >
            Modifier
          </button>
        </div>
      </ng-template>
      
      <ng-template #fileModal let-modal>
        <div class="modal-header">
          <h5 class="modal-title">View PDF Files</h5>
          <button type="button" class="btn-close" (click)="modal.dismiss('Close')"></button>
        </div>
        <div class="modal-body">
          <ngb-carousel *ngIf="files.length" activeIndex="0" class="owl-carousel">
            <ng-template ngbSlide *ngFor="let file of files">
               <div class="carousel-item"> 
                <pdf-viewer [src]="file" [render-text]="true" [original-size]="false" style="width: 100%; height: 500px;"></pdf-viewer>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close')">Close</button>
        </div>
      </ng-template>
      