<main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
  <div class="card-list">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
        <div class="card blue">
          <div class="title">Nombre de dossiers</div>
          <i class="zmdi zmdi-upload"></i>
          <div class="value">{{folder}}</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
        <div class="card green">
          <div class="title">Membres de l'équipe</div>
          <i class="zmdi zmdi-upload"></i>
          <div class="value">10</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
        <div class="card orange">
          <div class="title">Totale de depense</div>
          <i class="zmdi zmdi-download"></i>
          <div class="value">{{ depense | currency:'TND' }}</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
        <div class="card red">
          <div class="title">Nombre d'experts</div>
          <i class="zmdi zmdi-download"></i>
          <div class="value">3</div>
        </div>
      </div>
    </div>
  </div>
  
  <h5 class="mt-4 mb-3">Calendrier: Toutes les audiences par jour cette semaine:</h5>

  <div class="projects mb-4">
    <div class="calendar-container">
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="audianceEvents"
        [refresh]="refresh"
        [locale]="locale" 
        (eventClicked)="eventClicked($event, content)">
      </mwl-calendar-month-view>
    </div>
  </div>
  <div class="projects mb-4">
    <div class="projects-inner">
      <header class="projects-header">
        <div class="title">people who want to connect you par email</div>
        <div class="count">| 32 Projects</div>
        <i class="zmdi zmdi-download"></i>
      </header>
      <table class="projects-table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Message</th>
              <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tr  *ngFor="let item of emails" >
        
          <td class="member">
             <div class="member-info">
              <p style="color: white;">{{item.email}}</p>
             </div>
          </td>
          <td>
            <p  style="color: white;" >{{item.message}}</p>
           </td>
       
          <td>
            <form class="form" action="#" method="POST">
            <select class="action-box">
              <option>Actions</option>
              <option>Supprimer</option>
              <option>Envoyer</option>
              </select>
            </form>
          </td>
        </tr>
        
      </table>
    </div>
  </div>

 
</main>

<ng-template #content let-modal>
  <div class="modal-header">
    <span class="modal-title">AUDIANCE : {{selectedEvent.dateAudiance | date}}</span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
   
  <div class="modal-body">
    <div class="details-container">
      <div class="detail-item">
        <i class="zmdi zmdi-folder"></i>
        <div>
          <div class="title">Numéro d'affaire</div>
          <div class="value">{{ selectedEvent.affaires.numeroAffaire }}</div>
        </div>
      </div>
      
      <div class="detail-item">
        <i class="zmdi zmdi-city"></i>
        <div>
          <div class="title">Cercle</div>
          <div class="value">{{ selectedEvent.cercle.nom }}</div>
        </div>
      </div>

      <div class="detail-item">
        <i class="zmdi zmdi-pin"></i>
        <div>
          <div class="title">Ville</div>
          <div class="value">{{ selectedEvent.city.name }} - {{ selectedEvent.city.zip }}</div>
        </div>
      </div>

      <div class="detail-item">
        <i class="zmdi zmdi-calendar"></i>
        <div>
          <div class="title">Date d'Audience</div>
          <div class="value">{{ selectedEvent.dateAudiance | date: 'mediumDate' }}</div>
        </div>
      </div>

      <div class="detail-item">
        <i class="zmdi zmdi-comment-text"></i>
        <div>
          <div class="title">Description</div>
          <div class="value">{{ selectedEvent.description }}</div>
        </div>
      </div>

      <div class="detail-item">
        <i class="zmdi zmdi-file"></i>
        <div>
          <div class="title">Fichiers</div>
          <ul class="value">
            <li *ngFor="let file of selectedEvent.files">
              <a [href]="file" target="_blank">Voir le fichier</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Fermer</button>
  </div>
</ng-template>
 
   
  
