<div id="warraper">
    <div id="logo"><span>GCA</span></div>
    <span id="show-label-menu">utiliser uniquement sur petit écran</span>
    <div id="left-menu">
        <ul>
          <li><a routerLink="/administrator/Dashboard" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i><span>Tableau de bord</span></a></li>
          <li><a routerLink="/administrator/calendar" routerLinkActive="active"><i class="fas fa-calendar-alt"></i><span>Gestion des disponibilités</span></a></li>
          <li><a routerLink="/administrator/folder" routerLinkActive="active"><i class="fas fa-folder-open"></i><span>Gestion des dossiers</span></a></li>
          <li><a routerLink="/administrator/rdv" routerLinkActive="active"><i class="fas fa-calendar-check"></i><span>Gestion des rendez-vous</span></a></li>
          <!-- honnoraire -->
          <li><a routerLink=""><i class="fas fa-briefcase"></i><span>Gestion des affaires</span></a></li>
          <li><a routerLink="/administrator/intervenants" routerLinkActive="active"><i class="fas fa-clipboard-list"></i><span>Gestion des intervenants</span></a></li>
          <li><a routerLink="/administrator/honnoraire" routerLinkActive="active"><i class="fas fa-coins"></i><span>Gestion des honoraires</span></a></li>
          <li><a routerLink="/administrator/caisse" routerLinkActive="active" ><i class="fas fa-cash-register"></i><span>    Gestion des dépenses
        </span></a></li>
           <li><a routerLink="/administrator/cabinet" routerLinkActive="active"><i class="fas fa-coins"></i><span>Gestion de cabinet </span></a></li>

          <li><a routerLink=""><i class="fas fa-users"></i><span>Utilisateurs</span></a></li>
          <li><a routerLink=""><i class="fas fa-cogs"></i><span>Paramètres</span></a></li>
        </ul>
    </div>
     <div id="top-header">
        <i class="fas fa-user float-right"></i>
        <i class="fas fa-comments float-right"></i>
        <i id="toggle-menu" class="fas fa-bars float-left"></i>
        <i (click)="logout()" class="fas fa-sign-out-alt float-right"></i>
    </div>
    <div id="main-content">
        <router-outlet />
    </div>
</div>
