
<section class="bg-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="bg-main">
                    <i class="fas fa-landmark"></i>
                    <h2>$325,000</h2>
                    <b>Recoverd to clients</b>
                    <p>publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <a href="#">Contact us now</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="bg-main bg-sub">
                    <i class="fas fa-landmark"></i>
                    <h2>$325,000</h2>
                    <b>Recoverd to clients</b>
                    <p>publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <a href="#">Contact us now</a>
                </div>
            </div>
        </div>
    </div>
</section>