<section class="bg-05">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="headding-01">
                    <h2>why choose us?</h2>
                    <p>publishing software like Aldus PageMaker including versions of Lorem Ipsum.publishing software like Aldus PageMaker Lorem Ipsum.publishing software like</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="row-items">
                    <ol>
                        <li>
                            <i class="fas fa-plus-square"></i>
                            Great Discount
                            <span>publishing software like Aldus PageMaker Lorem Ipsum.</span>
                        </li>

                        <li>
                            <i class="fas fa-concierge-bell"></i>
                            coummunity service
                            <span>publishing software like Aldus PageMaker Lorem Ipsum.</span>
                        </li>

                    </ol>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-12">
                <div class="row-items">
                    <div class="row-images">
                       <img src="assets/images/img-01.jpg">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-12">
                <div class="row-items row-sub">
                    <ol>
                        <li>
                            <i class="fas fa-balance-scale"></i>
                            get legal advice
                            <span>publishing software like Aldus PageMaker Lorem Ipsum.</span>
                        </li>

                        <li>
                            <i class="fas fa-graduation-cap"></i>
                            expert lawyers
                            <span>publishing software like Aldus PageMaker Lorem Ipsum.</span>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>