<div class="card mt-4">
    <div class="card-header  text-light">
      <h5 class="mb-0">Users</h5>
      <!-- class="" -->
      <button class="btn btn-sm  btn-warning" (click)="openUserModal()">Ajouter un utilisateur</button>

    </div>
    <div class="card-body">

<div class="user-management">
    <!-- Search Bar -->
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchQuery" (input)="filterUsers()" placeholder="Rechercher des utilisateurs..." class="form-control" />
    </div>
  
    <!-- User List -->
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Rôle</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.username }} {{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.telephone1 }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button class="btn btn-outline-warning btn-sm" (click)="openUserModal(user)">Modifier</button>
              <button class="btn btn-outline-danger btn-sm " (click)="deleteUser(user)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Add User Button -->
  </div>
   
</div>
</div>
 <!-- Modal Template for Add/Edit User -->
<ng-template #userModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Ajouter/Modifier l'utilisateur</h4>
        <button type="button" class="btn-close" aria-label="Fermer" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">
            <div class="mb-3">
                <label for="userName" class="form-label">Nom</label>
                <input type="text" id="userName" formControlName="username" class="form-control" />
                <div *ngIf="userForm.controls['username'].invalid && userForm.controls['username'].touched" class="text-danger">
                    Nom est requis.
                </div>
            </div>
            <div class="mb-3">
                <label for="userLastname" class="form-label">Prénom</label>
                <input type="text" id="userLastname" formControlName="lastname" class="form-control" />
                <div *ngIf="userForm.controls['lastname'].invalid && userForm.controls['lastname'].touched" class="text-danger">
                    Prénom est requis.
                </div>
            </div>
            <div class="mb-3">
                <label for="userEmail" class="form-label">Email</label>
                <input type="email" id="userEmail" formControlName="email" class="form-control" />
                <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" class="text-danger">
                    Email est invalide.
                </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mot de passe</label>
              <input type="password" id="password" formControlName="password" class="form-control" />
              <div *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched" class="text-danger">
                  mot de passe  est invalide.
              </div>
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Date de naissance </label>
            <input type="date" id="date" formControlName="dateOfBirth" class="form-control" />
            <div *ngIf="userForm.controls['dateOfBirth'].invalid && userForm.controls['dateOfBirth'].touched" class="text-danger">
                mot de passe  est invalide.
            </div>
        </div>
            <div class="mb-3">
                <label for="telephone1" class="form-label">Téléphone 1</label>
                <input type="text" id="telephone1" formControlName="telephone1" class="form-control" />
                <div *ngIf="userForm.controls['telephone1'].invalid && userForm.controls['telephone1'].touched" class="text-danger">
                    Téléphone 1 est requis et doit contenir entre 8 et 15 chiffres.
                </div>
            </div>
            <div class="mb-3">
                <label for="userRole" class="form-label">Rôle</label>
                <select id="userRole" formControlName="role" class="form-control">
                    <option value="ADMIN">Administrateur</option>
                    <option value="CLIENT">Client</option>
                    <option value="SOUS_ADMIN">Sous-Administrateur</option>
                    <option value="GUEST">Invité</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="saveUser()">Enregistrer</button>
    </div>
  </ng-template>