<section class="bg-02-a">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="_head_01">
                    <h2>Services</h2>
                    <p>Home<i class="fas fa-angle-right"></i><span>Services</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-02-b">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="head-001">
                    <h2>Services Lawyer</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisnisi.</p>
                </div>
            </div>
        </div>
        <div class="row my_row_y">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="_jh_oi_cs">
                    <i class="fal fa-globe"></i>
                    <h2>Business law</h2>
                    <p>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisnisi.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="_jh_oi_cs">
                    <i class="fal fa-landmark"></i>
                    <h2>Civil Law</h2>
                    <p>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisnisi.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="_jh_oi_cs">
                    <i class="fal fa-axe"></i>
                    <h2>Criminal Law</h2>
                    <p>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisnisi.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="_jh_oi_cs">
                    <i class="fas fa-briefcase"></i>
                    <h2>Business Law</h2>
                    <p>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisnisi.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="_jh_oi_cs">
                    <i class="fal fa-book-open"></i>
                    <h2>Education Law</h2>
                    <p>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisnisi.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="_jh_oi_cs">
                    <i class="fal fa-sign"></i>
                    <h2>Real Estate law</h2>
                    <p>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisnisi.</p>
                </div>
            </div>
        </div>
    </div>
</section>