 
  
<section class="bg-02-a"> 
    <div>
        <div class="row">
            <div class="col-12">
                <div class="_head_01">
                    <h2>Réinitialiser le mot de passe</h2>
                    <p>Accueil <i class="fas fa-angle-right"></i><span>Réinitialiser le mot de passe</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

   
  <div class="container">
    <div class="form-container" *ngIf="!isSended" >
      <h1 class="title">Réinitialiser le mot de passe</h1>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-group" >
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">L'email est requis</div>
            <div *ngIf="f['email'].errors['email']">L'email est invalide</div>
          </div>
        </div>
        <div class="input-group">

        <button type="submit"  class="sign-in">Envoyer</button>
    </div>

      </form>
      
 
    </div>
    <div  class="form-container" *ngIf="isSended"  >
        <p>Le lien de réinitialisation a déjà été envoyé, veuillez vérifier votre email.</p>
    </div>
  </div>
