<main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
    <div class="projects mb-4">
      <div class="projects-inner">
        <header class="projects-header">
          <div class="title">Mes Affaires</div>
          <div class="count">| {{ affaires.length }}</div>
          <i class="zmdi zmdi-download"></i>
        </header>
        <table class="projects-table">
          <thead>
            <tr>
                <th>Affaire</th>
                <th>Audience</th>
                <th>Intervenant</th>
                <th>Opposant</th>
                <th>Fichier</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of affaires">
              <td>
                <p>Affaire #: {{ item.numeroAffaire }}</p>
                <p>Nature: {{ item.natureAffaire }}</p>
              </td>
              <td>
                <button  *ngIf=" item.audiances.length > 0 ;else temp" class="btn btn-info btn-sm" (click)="openModal(audianceModal, item)">
                  <i class="bi bi-calendar"></i> View Audiances
                </button>
                <ng-template #temp>
                    <p class="text-danger"> Il n'y a pas d'audiences pour cette affaire </p>                </ng-template>
                
              </td>
              <td class="member">
                <figure><img src="https://cdn-icons-png.flaticon.com/512/2897/2897763.png" alt="Membre de l'équipe" /></figure>
                <div class="member-info">
                    <p>Nom de l'inventaire</p>
                    <ng-container *ngIf="item.inventaire.length > 0; else noInventaire">
                      <p *ngFor="let inv of item.inventaire"><span style="cursor: pointer;" (click)="detailIntervenant(inventaireModal,inv)" >{{inv.full_name}}</span></p>
                    </ng-container>
                    <ng-template #noInventaire>
                      <p class="text-danger">Aucun inventaire disponible</p>
                    </ng-template>
                  </div>
              </td>
              <td>
                <p>{{ item.opposite }}</p>
              </td>
              <td class="status">
                <button *ngIf="item.file; else noFile" class="btn btn-warning btn-sm" (click)="openPDF(item.file)">
                  <i class="bi bi-file-earmark-pdf"></i> Voir le Fichier
                </button>
                <ng-template #noFile>
                  <p class="text-danger">Aucun fichier disponible</p>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  
  <ng-template #audianceModal let-modal>
    <div class="modal-header" style="background-color: #313e4f; color: white;">
        <h4 class="modal-title">Détails de l'Audiance</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="details-container">
            <div class="container mt-4">
                 <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Numéro</th>
                             <th>Description</th>
                            <th>Documents</th>
                         </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let audiance of selectedAudiance; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ audiance.numero }}</td>
                             <td>{{ audiance.description }}</td>
                            <td>
                                <ul (click)="downloadFile(audiance.files)">
                                    <li  *ngFor="let file of audiance.files">
                                        <a [href]="file" target="_blank">{{ file.split('/').pop() }}</a>
                                    </li>
                                </ul>
                            </td>
 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Fermer</button>
    </div>
</ng-template>

  
  
  <ng-template #inventaireModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Details de l'inventaire</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex align-items-center mb-3">
        <img src="https://cdn-icons-png.flaticon.com/512/2897/2897763.png" alt="Inventaire Image" class="rounded-circle" width="50">
        <h5 class="ms-3">{{ selectedInventaire.full_name }}</h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span><i class="bi bi-person"></i> Nom</span>
          <span>{{ selectedInventaire.full_name }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span> <i class="bi bi-person-badge"></i>
             Type </span>
          <span>{{ selectedInventaire.typeInventaire }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span><i class="bi bi-telephone"></i> Téléphone</span>
          <span>{{ selectedInventaire.phone1 }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span><i class="bi bi-building"></i> Adresse</span>
          <span>{{ selectedInventaire.adresse }}</span>
        </li>
        <!-- Add more details as needed -->
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  