<section class="bg-04">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="box-02">
                   <h2>read our blog or follow us on social media</h2>
                   <p>publishing software like Aldus PageMaker including versions of Lorem Ipsum.publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                   <a href="#">contact us now</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <div class="box-02 box-02-sup">
                   <ol>
                       <li>publishing software like Aldus PageMaker including versions of Lorem Ipsum.publishing<span>October 15,2018-business</span>
                       <i class="fas fa-chevron-right"></i></li>

                       <li>publishing software like Aldus PageMaker including versions of Lorem Ipsum.publishing<span>October 15,2018-business</span>
                       <i class="fas fa-chevron-right"></i></li>

                       <li>publishing software like Aldus PageMaker including versions of Lorem Ipsum.publishing<span>October 15,2018-business</span>
                       <i class="fas fa-chevron-right"></i></li>
                   </ol>
                </div>
            </div>
        </div>
    </div>
</section>
