 
  .container {
     margin: 2rem auto;
    padding: 1rem;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #313e4f;
  }
  
  .credit-card {
    background-color: #fff;
     border-radius: 8px;
    padding: 2rem;
    margin-top: 2rem;
  }
  
  .credit-info, .client-info, .affaire-info {
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1.2rem;
    color: #555;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #313e4f;
    color: white;
  }
  
  table td {
    color: #333;
  }
  
  @media (max-width: 768px) {
    .credit-card {
      padding: 1rem;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.3rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  