<div class="container">
     
    <div class="credit-card">
     
      <div class="payed-credit">
         <table>
          <thead>
            <tr>
              <th>Part</th>
              <th>Date</th>
              <th>Method</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$2000</td>
              <td>2024-08-15</td>
              <td>Bank Transfer</td>
            </tr>
            <tr>
              <td>$3000</td>
              <td>2024-09-10</td>
              <td>Credit Card</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>