
<section class="bg-03">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="box-01">
                    <ol>
                        <li><i class="fas fa-book"></i><span>Procurement</span>publishing software like Aldus PageMaker including versions of Lorem Ipsum.publishing software like Aldus PageMaker Lorem Ipsum.</li>
                        <li><i class="fab fa-critical-role"></i><span>Criminal law</span>publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                        <li><i class="far fa-hospital"></i><span>capital market</span>publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                    </ol>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="box-01">
                    <ol>
                        <li><i class="fas fa-cog"></i><span>Maintenance</span>publishing software like Aldus PageMaker including versions of Lorem Ipsum.publishing software like Aldus PageMaker Lorem Ipsum.</li>
                        <li><i class="fas fa-landmark"></i><span>estate planning</span>publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                        <li><i class="far fa-hand-spock"></i><span>malpractice</span>publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                    </ol>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="box-01">
                    <ol>
                        <li><i class="fas fa-starfighter-alt"></i><span>family law</span>publishing software like Aldus PageMaker including versions of Lorem Ipsum.publishing software like Aldus PageMaker Lorem Ipsum.</li>
                        <li><i class="fab fa-critical-role"></i><span>intelectual property</span>publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                        <li><i class="fas fa-folder"></i><span>privatization</span>publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>